@charset "UTF-8";
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #023059, #011526);
}

main {
    background-color: white ;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #0367A6;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #023059;
    text-align: center;
}

h2 {
    color: #035AA6;
}

p {
    text-align: justify;
}

